<div class="flex flex-wrap align-items-center justify-content-center m-2 p-2">
  <div class="m-4 card">
    <h3>JavaScript setInterval</h3>
    <div
      class="grid flex flex-wrap align-items-center justify-content-center card-container"
    >
      <div class="col-12 flex flex-row">
        <h4>Values from Stream: {{ intervalCounter }}</h4>
      </div>
    </div>
  </div>

  <div class="m-4 card">
    <h3>JavaScript setTimeout</h3>
    <div
      class="grid flex flex-wrap align-items-center justify-content-center card-container"
    >
      <div class="col-12 flex flex-row">
        <h4>Values from Stream: {{ timeoutValue }}</h4>
      </div>
    </div>
  </div>
</div>
